.about {
  margin-top: 20px;
  height: 500px;
  width: 100%;
  border: 1px solid lightgrey;
  background: white;
}

.about h1 {
  font-size: 20px;
  color: rgb(55, 62, 77);
  background: #F6F7F8;
  padding: 20px;
  font-weight: bold;
  display: block;
  border-bottom: 1px solid lightgrey;
}

.about-choices {
  display: block;
  float: left;
  border-right: 1px solid lightgrey;
  width: 245px;
  height: 436px;
}

.about-choices a {
  cursor: pointer;
  display: block;
  padding: 20px;
  font-size: 14px;
  color: rgb(145, 151, 163);
}

.about-choices a:hover {
  color: white;
  background-color: #ccc;
}

.about-info div {
  float: left;
  margin-top: 0px;
  width: 580px;
  border: none;
}


div.about-bio {
  padding: 10px;
}

div.about-bio h3 {
  display: block;
  float: left;
  padding: 10px;
  font-size: 13px;
}

div.about-bio textarea {
  margin-top: 9px;
  display: block;
  float: left;
  resize: none;
  margin-top: 9px;
  border: 1px solid grey;
  width: 300px;
  height: 60px;
  font-size: 13px;
}

.about-bio p {
  display: block;
  float: left;
  margin-top: 9px;
  border: 1px solid white;
  font-size: 13px;
}

div.about-bio button {
  float: right;
  padding: 7px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  cursor: pointer;
}

div.about-bio button:hover {
  background: #4C67A1;
}
