.about {
  margin-top: 20px;
  height: 500px;
  width: 100%;
  border: 1px solid lightgrey;
}

.about h1 {
  font-size: 20px;
  color: rgb(55, 62, 77);
  background: #F6F7F8;
  padding: 20px;
  font-weight: bold;
  display: block;
  border-bottom: 1px solid lightgrey;
}

.about-choices {
  display: block;
  float: left;
  border-right: 1px solid lightgrey;
  width: 245px;
  height: 436px;
}

.about-choices li {
  cursor: pointer;
  display: block;
  padding: 20px;
  font-size: 14px;
  color: rgb(145, 151, 163);
}

.about-choices button {
  cursor: pointer;
}

.about-choices li:hover {
  color: black;
}

.about-info div {
  float: left;
  margin-top: 0px;
  width: 580px;
  border: none;
}


div.about-bio {
  float: left;
  padding: 10px;
}

div.about-bio h3 {
  float: left;
  padding: 10px;
}

div.about-bio textarea {
  margin-top: 10px;
  border: 1px solid grey;
  width: 200px;
  height: 60px;
}

div.about-bio button {
  float: right;
  padding: 10px;
}
