.feed-page {
  float: left;
  margin-top: 60px;
  width: 500px;
}

.feed-sidebar {
  margin-top: 60px;
  width: 200px;
  float: left;
}

.feed-current-user-name {
  margin-top: 5px;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 12px;
  padding: 5px;
}

.feed-thumbnail {
  cursor: pointer;
  display: block;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  width: 22px;
  height: 22px;
  box-shadow: 0 0 3px 1px grey;
}

.feed-profile-link {
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
  margin: 0 12px;
  position: fixed;
}

.feed-profile-link:hover {
  background: rgb(246, 247, 248);
}

.twentyforty {
  top: 100px;
}

.sponsed-post {
  padding: 10px;
  background: white;
  margin-top: 60px;
  margin-left: 720px;
  position: fixed;
  color: #3b5998;
}
.sponsed-post h3 {
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
}
.sponsed-post p {
  margin-left: 5px;
  margin-bottom: 10px;
}

.sponsed-post img {
  display: block;
  width: 250px;
  height: 150px;
}

.fight-club-logo {
  box-sizing: border-box;
  padding: 30px;
  background: linear-gradient(lightgrey, grey);
}

.spamless-logo {
  box-sizing: border-box;
  padding: 30px;
  background: linear-gradient(#0a2a8f, #05164C);
}
.rainwav-logo {
  box-sizing: border-box;
  padding: 0px 40px;
  background: #1FBFED;
}
