.feed-page {
  float: left;
  margin-top: 60px;
  width: 500px;
}

.feed-sidebar {
  margin-top: 60px;
  width: 200px;
  float: left;
}

.feed-current-user-name {
  margin-top: 5px;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 12px;
  padding: 5px;
}

.feed-thumbnail {
  cursor: pointer;
  display: block;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  width: 22px;
  height: 22px;
  box-shadow: 0 0 3px 1px grey;
}

.feed-profile-link {
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
  margin: 0 12px;
  position: fixed;
}

.feed-profile-link:hover {
  background: rgb(246, 247, 248);
}

.sponsed-post {
  padding: 10px;
  background: white;
  margin-top: 60px;
  margin-left: 720px;
  position: fixed;
  color: #3b5998;
}
.sponsed-post h3 {
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
}
.sponsed-post p {
  margin-left: 5px;
}

.sponsed-post img {
  display: block;
  width: 300px;
  height: 200px;
}
