.nav-bar {
  position: fixed;
  height: 42px;
  width: 100%;
  background: linear-gradient(#4C67A1, #3C5A99);
  box-shadow: 0px 1.5px 2px black;
}

.small-logo {
  margin: 10px 8px 0 362px;
  float:left;
}

.search-bar {
  font-size: 14px;
  font-weight: lighter;
  float: left;
}

.search-bar input {
  padding-left: 8px;
  background: white;
  width: 400px;
  height: 24px;
  margin-top: 9px;
  border-radius: 2px 0 0 2px;
  float: left;
}


.search-button {
  display: block;
  float: left;
  background: #F6F7F8;
  height: 24px;
  width: 40px;
  padding: 0 10px;
  margin-top: 9px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

.nav-user-profile-link button {
  cursor: pointer;
  margin-left: 177px;
  margin-top: 10px;
  float: left;
}

.nav-user-profile-link span {
  font-size: 13px;
  color: white;
  margin-left: 7px;
  margin-top: 4px;
  display: block;
  float: left;
  text-shadow: 0px 0px 5px black;
}


.nav-user-profile-link img {
  display: block;
  float: left;
}

.nav-log-out-button {
  display: block;
  font-size: 13px;
  color: white;
  padding: 5px 7px;
  text-shadow: 0px 0px 5px black;
}

.profile-header {
  position: relative;
  margin-left: 362px;
  top: 42px;
  width: 850px;
  height: 300px;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-radius: 0 0 5px 5px;
}

.profile-cover-photo {
  width: 850px;
  height: 252px;
  background: darkblue;
}

.profile-header-links {

}

.profile-header-link-list {
  display: block;
  margin: auto;
  width: 450px;
  height: 48px;
  border-left: 1px solid lightgrey;
}

.profile-header-link-list li {
  font-size: 14px;
  float: left;
  padding: 14px;
  height: 20px;
  border-right: 1px solid lightgrey;
}

.page-content {
  position: relative;
  width: 850px;
  top: 40px;
  left: 362px;
}
