body {
  background-color: #E9EAED;
}

.mg-container {
  background-color: #f6f7f9;
  width: 40px;
  height: 100%;
  position: absolute;
  right: 0;
}

.fa.search-button {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 15px;
  opacity: 0.7;
  font-size: 1.1em;
}

.main-layout {
  width: 990px;
  margin: 44px auto;
  padding-right: 100px;
}

.lick-form {
  margin: 0 5px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 5px 0;
  font-size: 12px;
  font-weight: bold;
  color: rgb(127, 127, 127);
}

.lick-form button {
  cursor: pointer;
  padding: 5px 7px 0 4px;
  margin: 0 2px;
}

.lick-form button:hover {
  text-decoration: underline;
}

.lick-form img {
  margin-right: 5px;
}


.lick-form button.post-licked {
  color: rgb(88, 144, 255);
}

.lick-count {
  font-size: 11px;
}

.page-content {
  width: 850px;
  /*background: orange;*/
}

.comment-lick-button {
  font-size: 12px;
  color: rgb(59, 89, 152);
  padding-right: 10px;
}

.comment-lick-button:hover {
  text-decoration: underline;
}
