.photos {
  margin-top: 20px;
  width: 100%;
  border: 1px solid lightgrey;
  background: white;
}

.photos h1 {
  font-size: 20px;
  color: rgb(55, 62, 77);
  background: #F6F7F8;
  padding: 20px;
  font-weight: bold;
  display: block;
  border-bottom: 1px solid lightgrey;
}

.album-list {
  display: block;
  width: 100%;
  float: left;
}

.album-list h3 {
  padding: 10px;
  font-weight: bold;
  font-size: 11px;
  color: rgb(59, 89, 152);
}

.album-preview {
  display: block;
  float:left;
  margin-left: 20px;
  margin-top: 20px;
  width: 180px;
}

.album-preview-image {
  height: 200px;
  background: lightblue;
}

.album-preview-image img {
  width: 100%;
  height: 100%;
}

.photo-preview-image {
  width: 100%;
  height: 200px;
  background: lightblue;
}


.photo-upload {
  display: block;
  margin: 20px 0 0 20px;
  width: 200px;
  height: 250px;
  border: 1px solid lightgrey;
  float: left;
}

.upload-button {
  display: block;
  border: 1px solid grey;
  padding: 3px;
  margin: auto;
  font-weight: bold;
  border-radius: 2px;
}


.file-upload {
  padding: 5px;
}


.photo-album-view {
  width: 180px;
  height: 180px;
  margin: 20px 0 0 20px;
  border: 1px solid lightgrey;
  float: left;
}


.album-heading {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}


.photo-detail-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: grey;
  background: rgba(0,0,0,0.8);
  z-index: 2000
}

.photo-detail-content {
  position: fixed;
  background: white;
  height: 500px;
  width: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-detail-left {
  position: relative;
  float: left;
  width: 600px;
  height: 500px;
  background-color: grey;
  background: rgba(0,0,0,0.9);
}

.photo-detail-right {
  box-sizing: border-box;
  padding: 10px;
  float: right;
  width: 400px;
}

.photo-detail-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  max-height: 500px;
  max-width: 600px;
}

.photo-author-header {
  font-size: 14px;
  font-weight: bold;
  color: rgb(59, 89, 152);
}

.photo-author-header {
  font-size: 14px;
  font-weight: bold;
  color: rgb(59, 89, 152);
  padding-top: 20px;
}

.photo-detail-content .comment-detail p {
  padding-top: 12px;
}

.exit-button {
  font-size: 16px;
}

.exit-button button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  float: right;
  cursor: pointer;
  color: #aaa;
}

.photo-comment-form input.comment-input {
  width: 300px;
}
