.profile-left {
  float: left;
  width: 322px;
}

.profile-info {
  background: white;
  padding: 10px;
  margin-top: 20px;
  font-size: 12px;
  border: 1px solid lightgrey;
}

.profile-info li {
  display: block;
  padding: 10px 0px;
  margin: 0px 10px;
  border-bottom: 1px solid lightgrey;
}

.profile-info li:last-child {
  border: none;
}

.profile-info li > button {
  display: none;
  float: right;
  margin-right: 20px;
  border: 1px solid grey;
  padding: 3px;
  border-radius: 2px;
}

.profile-info li:hover button {
  display: block;
}

.profile-info button:hover {
  background: #4C67A1;
}

.profile-info input {
  border: 1px solid lightgrey;
}

.profile-info p {
  padding: 1px;
}

.shown-button {
  display: block;
}

.profile-header-name {
  font-size: 28px;
  position: absolute;
  top: 200px;
  left: 200px;
  color: white;
  z-index: -1;
}

.profile-header {
  position: relative;
  margin-left: 362px;
  top: 42px;
  width: 850px;
  height: 300px;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-radius: 0 0 5px 5px;
}

.profile-cover-photo {
  position: relative;
  width: 850px;
  height: 252px;
  background: darkblue;
  z-index: -10;
}

.profile-profile-photo {
  top: 120px;
  left: 20px;
  position: absolute;
  width: 160px;
  height: 160px;
  background: white;
  z-index: 1;
  border: 1px solid grey;
  border-radius: 3px;
}

.profile-header-links {
  background: white;
}

.profile-header-link-list {
  font-weight: bold;
  color: rgb(59, 89, 152);
  display: block;
  margin: auto;
  width: 450px;
  height: 48px;
  border-left: 1px solid lightgrey;
}

.profile-header-link-list li {
  font-size: 14px;
  float: left;
  height: 20px;
}

.profile-header-link-list li.active {
  background: blue;
}

.profile-header-link-list li > a {
  display: block;
  padding: 16px 14px;
  border-right: 1px solid lightgrey;
}

.profile-header-link-list li a:hover {
  background: #e3e9ef;
}
