.profile-left {
  float: left;
  width: 322px;
}

.profile-info {
  background: white;
  padding: 10px;
  margin-top: 20px;
  font-size: 12px;
  border: 1px solid lightgrey;
}

.profile-info li {
  display: block;
  padding: 10px 0px;
  margin: 0px 10px;
  border-bottom: 1px solid lightgrey;
}

.profile-info li:last-child {
  border: none;
}

.profile-info li > button {
  display: none;
  float: right;
  margin-right: 20px;
  border: 1px solid grey;
  padding: 3px;
  border-radius: 2px;
}

.profile-info li:hover button {
  display: block;
}

.profile-info button:hover {
  background: #4C67A1;
}

.profile-info input {
  border: 1px solid lightgrey;
}

.profile-info p {
  padding: 1px;
}

.shown-button {
  display: block;
}

.profile-header-name {
  font-size: 28px;
  position: absolute;
  top: 200px;
  left: 200px;
  color: white;
  z-index: -1;
  text-shadow: 1px 1px 5px black;
}

.profile-header {
  position: relative;
  margin-left: 262px;
  top: 42px;
  width: 850px;
  height: 305px;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-radius: 0 0 5px 5px;
}

.profile-cover-photo {
  position: relative;
  width: 850px;
  height: 252px;
  background: darkblue;
  z-index: -10;
}

.profile-profile-photo {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 160px;
  height: 160px;
  background: white;
  z-index: 1;
  border: 1px solid grey;
  border-radius: 3px;
}

.profile-header-links {
  background: white;
  border-bottom: 1px solid lightgrey;
}

.profile-header-link-list {
  font-weight: bold;
  color: rgb(59, 89, 152);
  display: block;
  margin: auto;
  width: 450px;
  height: 48px;
  border-left: 1px solid lightgrey;
}

.profile-header-link-list li {
  font-size: 14px;
  float: left;
  height: 20px;
}

.profile-header-link-list li.active {
  background: blue;
}

.profile-header-link-list li > a {
  display: block;
  padding: 16px 14px;
  border-right: 1px solid lightgrey;
}

.profile-header-link-list li a:hover {
  background: #e3e9ef;
}

.upload-cover-photo-button {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 50;
}

.profile-photo-container {
  position: absolute;
  margin-top: -120px;
  margin-left: 20px;
}

.upload-profile-photo-button {
  display: block;
  position: absolute;
  z-index: 100;
  width: 75px;
  top: 130px;
  left: 10px;
}

.profile-wall {
  margin-top: 20px;
  margin-left: 20px;
  width: 505px;
  float: right;
}

.post-form {
  border: 1px solid lightgrey;
  /*height: 100px;*/
  background: white;
}

.post-form textarea {
  resize: none;
  float: right;
}

.post-list li {
  margin-top: 20px;
  border: 1px solid lightgrey;
  background: white;
}

.post-list li h3 {
  font-weight: bold;
  color: rgb(59, 89, 152);
  font-size: 14px;
  padding: 10px;
}

.post-list li p {
  color: rgb(20, 24, 35);
  font-size: 14px;
  padding: 10px;
}

.style-div {
  width: 100%;
  height: 25px;
  background-color: rgb(246, 247, 248);
  border-bottom: 1px solid lightgrey;
}

.post-input {
  display: block;
  height: 90px;
  padding: 5px;
  width: calc(100% - 110px);
  float: right;
}


/*try to fix the background for post button?*/

.post-submit-button {
  background-color: rgb(246, 247, 248);
  float: right;
  width: 100%;
  height: 40px;
  border-top: 1px solid lightgrey;
}

.post-submit-button button {
  float: right;
  background-color: rgb(78, 105, 162);
  color: white;
  padding: 5px 16px;
  margin: 8px 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
}


.profile_thumbnail {
  width: 60px;
  height: 60px;
  padding: 10px;
  float: left;
}

.post-content {
  float: left;
  margin-left: 0;
}


.comment-detail {

}

.comment-detail p {
  float: left;
}

textarea.comment-input {
  box-sizing: border-box;
  resize: none;
  display: block;
  float: left;
  margin-top: 10px;
  width: 410px;
  height: 60px;
  border: 1px solid lightgrey;
  padding: 5px;
}
