.profile-left {
  float: left;
  width: 322px;
}

.profile-right {
  float: right;
}

.profile-friend-detail {
  float: left;
  position: relative;
}

.profile-friend-detail img {
  width: 100px;
  height: 100px;
}

.profile-friend-detail p {
  position: absolute;
  left: 3px;
  bottom: 3px;
  color: white;
}

.profile-friends {
  background: white;
  padding: 10px;
  margin-top: 20px;
  font-size: 12px;
  border: 1px solid lightgrey;
}

.profile-info {
  background: white;
  padding: 10px;
  margin-top: 20px;
  font-size: 12px;
  border: 1px solid lightgrey;
}

.profile-info i {
  margin-right: 5px;
}

.profile-info li {
  display: flex;
  position: relative;
  padding: 15px 0px;
  margin: 0px 10px;
  border-bottom: 1px solid lightgrey;
}

.profile-info li:last-child {
  border: none;
}

.profile-info li > button {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 7px;
  right: 10px;
  border: 1px solid grey;
  padding: 4px 1px 4px 5px;
  border-radius: 2px;
}

.profile-info li:hover button {
  display: block;
}

.profile-info button:hover {
  background: #4C67A1;
  color: white;
}

.profile-info input {
  border: 1px solid lightgrey;
}

.profile-info p {
  padding: 1px;
}

.shown-button {
  cursor: pointer;
  display: block;
}

.profile-header-name {
  font-size: 28px;
  position: absolute;
  top: 260px;
  left: 200px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.profile-header {
  margin-top: 43px;
  position: relative;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-radius: 0 0 5px 5px;
}

.profile-cover-container {
  cursor: pointer;
}

.profile-cover-photo {
  position: relative;
  width: 100%;
  height: 315px;
  background: lightblue;
}

.profile-cover-container:hover .cover-photo-upload-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ddd;
}

.profile-cover-container:hover .cover-photo-upload-icon p {
  opacity: 1;
}

.profile-cover-container:hover .cover-photo-upload-icon i {
  font-size: 18px;
  margin-top: 1px;
}

.cover-photo-upload-icon {
  color: #eee;
  z-index: 1001;
  width: 165px;
  position: absolute;
  padding: 5px 10px;
  top: 15px;
  left: 15px;
  display: flex;
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
  transition: all 300ms;
  border-radius: 2px;
}

.cover-photo-upload-icon i {
  font-size: 20px;
  transition: all 300ms;
}

.cover-photo-upload-icon p {
  padding: 3px;
  margin-left: 15px;
  opacity: 0;
}

.cover-photo-label {
  position: absolute
}

.profile-header-links {
  margin-top: -3px;
  background: white;
  border-bottom: 1px solid lightgrey;
}

.profile-header-link-list {
  display: flex;
  font-weight: bold;
  color: rgb(59, 89, 152);
  font-size: 14px;
  justify-content: center;
}

.profile-header-link-list li.active {
  background: blue;
}

.profile-header-link-list li > a {
  display: block;
  padding: 16px 14px;
  border-left: 1px solid lightgrey;
}

.profile-header-link-list li:last-child > a {
  border-right: 1px solid lightgrey;
}

.profile-header-link-list li a:hover {
  background: #e3e9ef;
}

.upload-cover-photo-button {
  display: block;
  top: 5px;
  left: 5px;
  z-index: -1;
  opacity: 0;
  margin-left: -1000px;
}

.friend-button {
  position: absolute;
  top: 265px;
  right: 50px;
  background: black;
  color: rgb(78, 86, 101);
  font-size: 12px;
  font-weight: bold;
  background: white;
  border: 1px solid black;
  padding: 5px 10px;
}

.profile-wall {
  margin-top: 20px;
  margin-left: 20px;
  width: 505px;
  float: right;
}

.notification {
  cursor: pointer;
}

.post-form {
  border: 1px solid lightgrey;
  background: white;
  position: relative;
  z-index: 100;
}

.post-form textarea {
  resize: none;
  float: right;
}

.post-list > li {
  margin-top: 20px;
  border: 1px solid lightgrey;
  background: white;
}

.post-list li h3 {
  font-weight: bold;
  color: rgb(59, 89, 152);
  font-size: 14px;
  padding: 10px;
}

.post-list li p {
  color: rgb(20, 24, 35);
  font-size: 14px;
  padding: 10px;
}

.style-div {
  width: 100%;
  height: 25px;
  background-color: rgb(246, 247, 248);
  border-bottom: 1px solid lightgrey;
}

.post-input {
  display: block;
  height: 60px;
  padding: 10px;
  width: calc(100% - 120px);
  float: right;
  font-size: 16px;
}

.post-submit-button {
  background-color: rgb(246, 247, 248);
  float: right;
  width: 100%;
  height: 40px;
  border-top: 1px solid lightgrey;
}

.post-submit-button button {
  float: right;
  background-color: rgb(78, 105, 162);
  color: white;
  padding: 5px 16px;
  margin: 8px 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
}

.post-form-thumbnail {
  width: 55px;
  height: 55px;
  padding: 10px;
  float: left;
}

.profile_thumbnail {
  width: 40px;
  height: 40px;
  padding: 10px;
  float: left;
}

.post-content {
  float: left;
  margin-left: 0;
}

input.comment-input {
  box-sizing: border-box;
  resize: none;
  display: block;
  float: left;
  margin-top: 10px;
  width: 410px;
  height: 40px;
  border: 1px solid lightgrey;
  padding: 5px;
}

.notification-description {
  padding-top: 22px;
}

.photo-upload-box {
  display: flex;
  font-size: 13px;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
  margin: 5px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms;
}

.photo-upload-box:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.photo-upload-box p {
  padding: 10px;
}

.photo-upload-box.active {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.8);
}

.profile-photo-input {
  opacity: 0;
}

.profile-photo-container {
  border: 1px solid #bbb;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 188px;
  left: 20px;
  height: 160px;
  width: 160px;
  overflow: hidden;
}

.profile-photo-container:hover .photo-upload-box {
  height: 55px;
}

.upload-profile-photo-button {
  display: block;
  position: absolute;
  z-index: 100;
  width: 75px;
  top: 130px;
  left: 10px;
  opacity: 0;
}


.profile-cover-photo img {
  height: 400px;
}

.profile-profile-photo {
  top: 0px;
  left: 0px;
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: white;
  z-index: 1000;
  border: 5px solid white;
  box-shadow: 0 0 0 2pt #bbb;
  border-radius: 2.5px;
}

i.photo-upload-icon {
  margin-left: 15px;
  margin-top: 18px;
  width: 28px;
  height: 28px;
  font-size: 21px;
  cursor: pointer;
  transition: all 250ms;
}

.profile-photo-container:hover i.photo-upload-icon {
  font-size: 19px;
}
